doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(content="text/html")
    meta(x-content-type-options="nosniff")
    meta(http-equiv="Content-Type")
    title Document
  body
    main
      h1.title Welcome to the restaurant page
    footer
  script(src="js/index.js")