* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#main-wrapper {
  background-image: url("../assets/images/light-rest.jpg");
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.blur {
  filter: blur(4px);
  transform: scale(1.048);
  -webkit-filter: blur(4px);
  -webkit-transform: scale(1.048);
  -moz-transform: scale(1.048);
  -ms-transform: scale(1.048);
  -o-transform: scale(1.048);
}

.shadow-text {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.shadow-text-slim {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.74);
}

nav {
  padding-top: 5rem;
  color: white;
  font-family: "Lobster", cursive;
  .rest-title {
    font-size: 6rem;
    font-weight: bold;
  }
  & > *:not(.rest-title) {
    font-size: 3rem;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: white;
    margin: auto 2rem;
  }

  a:hover {
    color: #ff9f1c;
    text-decoration: underline;
  }
}
/* Colombian food made with love font-family: 'Muli', sans-serif; */
main {
  height: auto;
  color: whitesmoke;
  margin-top: 5rem;
  font-family: "Lobster", cursive;
  .slogan {
    font-style: italic;
    font-size: 4rem;
  }

  #menu-btn,
  #menu-btn:hover {
    color: white;
    background-color: #ff9f1c;
    font-weight: bold;
    font-size: 2.8rem;
    border: 2px solid white;
  }
  #menu-btn:hover {
    background-color: darken($color: #ff9f1c, $amount: 10%);
  }
  .rest-title {
    font-size: 3.5rem;
  }

  .menu-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 4rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .menu-item {
    .card {
      width: 30rem;
      height: 35rem;
      color: black;
      animation: transitionIn 1.2s;
      -webkit-animation: transitionIn 1.2s;
}
    .card-body {
      font-family: "Muli", sans-serif;
      h5 {
        font-size: 1.8rem;
        font-weight: bold;
      }
      p {
        font-size: 1.6rem;
      }
    }
    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
  .contact-container {
    color: black;
    & > * {
      padding: 3rem;
      height: fit-content;
      width: calc(50% - 1rem);
      h2 {
        margin-bottom: 2rem;
        font-size: 3rem;
      }
      p {
        margin-bottom: 3rem;
        text-align: center;
        font-size: 2rem;
      }
    }
    .contact-text {
      font-family: "Muli", sans-serif;
    }
    form {
      font-size: 2rem;
      font-family: "Muli", sans-serif;
      .form-group label,
      button {
        font-family: "Lobster", cursive;
      }
      input,
      textarea {
        font-size: 1.6rem;
      }

      button {
        text-align: center;
        font-size: 1.8rem;
      }
    }
    animation: transitionIn 1.2s;
    -webkit-animation: transitionIn 1.2s;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
